site_name: AioARP
theme:
  name: material
  features:
    - content.code.copy
repo_url: https://github.com/karosis88/aioarp
nav:
    - index.md
    - Requests: client.md
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences
